{% extends "base.html" %}
{% block head %}
  <link href="css/aos.css" rel="stylesheet">
{% endblock %}
{% block style %}
{% endblock %}
{% block main %}
<div data-aos="fade-up">
  <h1>HahahahahahHa~~~</h1>
</div>
<div data-aos="fade-up">
  <h1>HahahahahahHa~~~</h1>
</div>
<div data-aos="fade-up">
  <h1>HahahahahahHa~~~</h1>
</div>
<div data-aos="fade-up">
  <h1>HahahahahahHa~~~</h1>
</div>
<div data-aos="fade-up">
  <h1>HahahahahahHa~~~</h1>
</div>
<div data-aos="fade-up">
  <h1>HahahahahahHa~~~</h1>
</div>
<div data-aos="fade-up">
  <h1>HahahahahahHa~~~</h1>
</div>
<div data-aos="fade-up">
  <h1>HahahahahahHa~~~</h1>
</div>
<div data-aos="fade-up">
  <h1>HahahahahahHa~~~</h1>
</div>
<div data-aos="fade-up">
  <h1>HahahahahahHa~~~</h1>
</div>
<div data-aos="fade-up">
  <h1>HahahahahahHa~~~</h1>
</div>
{% endblock %}
{% block script %}
<script src="js/aos.js"></script>
<script>
    AOS.init({
  offset: 200,
  duration: 600,
  easing: 'ease-in-sine',
  delay: 100,
});
</script>
{% endblock %}
